<div class="container pt-5">
  <div class="row" [formGroup]="setupGroup">
    <div class="col contant-wrapper">
      <label for="interval"> Интервал изменения стаканов, милисекунды</label>
      <input type="number" id="interval" formControlName="timeControl">
    </div>
    <div class="col contant-wrapper">
      <label for="depth"> Глубина стаканаб единицы</label>
      <input type="number" id="depth" formControlName = "depthControl">
    </div>
    <div class="col contant-wrapper">
      <button type="button" class="btn btn-primary" [disabled]="setupGroup.invalid || setupGroup.disabled" (click)="startOrderBooks()">Начать создание стакана</button>
    </div>
  </div>
  <hr>
  <div class="row" *ngIf="isOrderBooksLive">
    <div class="col">
      <app-order-book fondName="SPY" [amountItemsToShow]="depthControlValue"></app-order-book>
    </div>
    <div class="col">
      <app-order-book fondName="EQL" [amountItemsToShow]="depthControlValue"></app-order-book>
    </div>
  </div>
</div>